HOST: http://api.ihelpoo.com/v1

--- IHELPOO API version 1.0 ---
---
Welcome to IHELPOO API documentation. All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)
---

--
Mobile App JSON Api

The following is a section of resources related to the Android or iOS app
--


List the latest mobile app's version for being checked
GET /versions.json
< 200
< Content-Type: application/json; charset=UTF-8
{"update":{"wp7":"1.0","ios":"1.0.0","android":{"versionCode":"1","versionName":"1.0.0","downloadUrl":"http://www.ihelpoo.com/app/mobile/downloads/ihelpoo-1.0.0.apk","updateLog":"\r\n  版本信息：IHelpOO.com for Android v1.0.0\r\n  更新日志：首次发布\r\n"}}}

Save new products in your shopping cart
POST /words.json?pageSize=20&uid=12419&schoolId=1&catalog=1&pageIndex=0
> Content-Type: application/json; charset=UTF-8
< 200
< Content-Type: application/json; charset=UTF-8
{"page_size":20,"user":null,"actives":{"active":[{"sid":6148,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10000/100001364749855_s.jpg!app?t=1378883991966","nickname":"我帮圈圈","uid":10000,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"丑角","objectbody":"[摆酷]"},"url":"","objectID":6148,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:30:14","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":37694,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992013","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"cho","objectbody":"[西瓜][西瓜][西瓜]ttttt220257"},"url":"","objectID":37694,"content":" 有困难了，需要你的帮助 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6147,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992084","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"嗨，抬头，敬礼","objectbody":"自己的选择，自己负责"},"url":"","objectID":6147,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6146,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992150","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"知秋","objectbody":"第一百三十六天，就这样吧，哎！"},"url":"","objectID":6146,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6145,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992218","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"哦~哦~哦","objectbody":"什么时候才能让这在线人数不那么惨淡[揉脸]"},"url":"","objectID":6145,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6144,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10000/100001364749855_s.jpg!app?t=1378883992270","nickname":"我帮圈圈","uid":10000,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"残小枫","objectbody":"一个人的独处需要两个人..."},"url":"","objectID":6144,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:30:14","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":6143,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10000/100001364749855_s.jpg!app?t=1378883992320","nickname":"我帮圈圈","uid":10000,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":null,"url":"","objectID":0,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:30:14","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":37655,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/default_avatar.jpg!app","nickname":"孙权+","uid":14330,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"asdf"},"url":"","objectID":37655,"content":" 赞了你发布的 <a href='//' class=''> </a>","commentCo":0,"time":"2013-07-15 03:47:01","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":0,"rank":null},{"sid":37655,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/default_avatar.jpg!app","nickname":"孙权+","uid":14330,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"asdf"},"url":"","objectID":37655,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2013-07-15 03:47:01","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":0,"rank":null},{"sid":6140,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/default_avatar.jpg!app","nickname":"孙权+","uid":14330,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"no~蚕马no~泅渡","objectbody":"给李毛毛取名字这一事下来，让我觉得和老爸他们那一代的代沟那是深的不得了！我的天，偶好早就取好的名字又好听，又有寓意，他们老人家硬是要把什么派取进去，还生起气来了，我晕，。这冐法，只有取个丑名字罗。这代沟，得了。。那种传统家族观念。。偶和宝宝他爸被几个长辈说。。。晕死晕死。。"},"url":"","objectID":6140,"content":" 扩散了你的这条消息 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2013-07-15 03:47:01","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":0,"rank":null},{"sid":37677,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992486","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"测试邮件"},"url":"","objectID":37677,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":37677,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10000/100001364749855_s.jpg!app?t=1378883992531","nickname":"我帮圈圈","uid":10000,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"测试邮件"},"url":"","objectID":37677,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:30:14","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":37677,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10110/icon101101365605860_s.jpg!app?t=1378883992570","nickname":"学设计的孩子","uid":10110,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"测试邮件"},"url":"","objectID":37677,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-24 09:49:30","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":37677,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10110/icon101101365605860_s.jpg!app?t=1378883992608","nickname":"学设计的孩子","uid":10110,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"测试邮件"},"url":"","objectID":37677,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-24 09:49:30","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":37677,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10110/icon101101365605860_s.jpg!app?t=1378883992653","nickname":"学设计的孩子","uid":10110,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"机器人","objectbody":"测试邮件"},"url":"","objectID":37677,"content":"来帮助你啦 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-24 09:49:30","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null},{"sid":6137,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992712","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"xiang","objectbody":"明天回学校，结束国庆假期之旅。。收获良多！"},"url":"","objectID":6137,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6135,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992786","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"do嗦do咪哆","objectbody":"现在下雨连送伞的人都没有了。人走茶凉大概就是这个意思。以后还是得带伞。。。"},"url":"","objectID":6135,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":37663,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992833","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"cho","objectbody":"hi"},"url":"","objectID":37663,"content":"提出了追问 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6134,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10001/icon100011377011592_s.jpg!app?t=1378883992990","nickname":"cho","uid":10001,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"小五","objectbody":"妈妈给儿子讲故事：&ldquo;有两个人，一男一女，他们天天并肩而行，却不能交谈一句，甚至扭头看对方一眼都是奢望&hellip;&hellip;&rdquo;孩子打断了妈妈的话，问道：&rdquo;你说的是新闻联播那俩播音吧！&rdquo;.[哈哈]"},"url":"","objectID":6134,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:36:47","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":2,"rank":null},{"sid":6133,"iconUrl":"http://ihelpoo.b0.upaiyun.com/useralbum/10000/100001364749855_s.jpg!app?t=1378883993057","nickname":"我帮圈圈","uid":10000,"catalog":4,"objecttype":3,"objectcatalog":0,"objecttitle":"孤独","from":3,"objectreply":{"objectname":"♥小小郭♥","objectbody":"每一个矜持淡定的现在，都有一个很傻很天真的曾经。[月亮]"},"url":"","objectID":6133,"content":" 扩散了这条消息给你 <a href='//' target='_blank' class=''> </a>","commentCo":0,"time":"2012-05-23 09:30:14","image":null,"diffusionCo":0,"academy":null,"authorType":null,"authorGossip":null,"online":1,"rank":null}]},"notice":{"atmeCount":0,"msgCount":0,"reviewCount":0,"newFansCount":0}}
